* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  font-family: var(--font-main);
  background: var(--color-bg);
  color: var(--color-text);
}

button, input, textarea {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
